OPENAI_API_KEY=your AI key here

# Email Settings (e.x. Gmail)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=YOUR EMAIL HERE
SENDER_PASSWORD=YOUR EMAIL PASSOWRD HERE
RECEIVER_EMAIL=RECEIVER EMAIL(s) COMMA SEPARATED